[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
netcdf4 = "*"
requests = "*"
pyco2sys = "*"
erddapy = "*"
scipy = "*"
pyshp = "*"
shapely = "*"
cartopy = "*"

[dev-packages]

[requires]
python_version = "3.9"
